<!--==================== HEADER ====================-->
  <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">
          <img src="/img/logo.svg" alt="Juan PM Logo">
          <span>Juan <br> PM</span>
        </a>
      <nav>
  </header>
